.container {
    max-width: 1080;
    width: 50%;
    margin: 0 auto;
}


#immagine1 {
    width: 100%;
    max-height: 50px;
    background-color: rgb(94, 157, 235);
    background-size: cover;
    background-repeat: no-repeat;
}

#logo {
    width: 20%;
    position: absolute relative 10px
}

#titolo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    margin-bottom: 0%;
}

#autore {
    font-size: 0.80em;
    margin: 0%;
}

#data {
    font-size: 0.50em;
    margin-top: 1%;
}

.immaginitim {}